<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Courses</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Desc.</th>
				<th>Price</th>
				<th>Hours</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="course : ${courses}">
				<td><span th:text="${course.name}"></span></td>
				<td><span th:text="${course.description}"></span></td>
				<td><span th:text="${course.price}"></span></td>
				<td><span th:text="${course.hours}"></span></td>
			</tr>


		</tbody>
	</table>
	<form action="#" method="post" th:action="@{/courses/addcourse}"
		th:object="${course}">
		<p>
			Name: <input type="text" th:field="*{name}" />
		</p>
		<p>
			Desc: <input type="text" th:field="*{description}" />
		</p>
		<p>
			Price: <input type="number" th:field="*{price}" />
		</p>
		<p>
			Hours: <input type="number" th:field="*{hours}" />
		</p>
		<p>
			<input type="submit" value="Submit" />
		</p>
	</form>
</body>
</html>