<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Hello</title>
</head>
<body>
	<table border="1">
		<thead>
			<tr>
				<th>NAME</th>
				<th>AGE</th>
			</tr>
		</thead>
		<tbody th:each="person : ${people}">
			<tr>
				<td th:text="${person.name}"></td>
				<td th:text="${person.age}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>