<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>RESULT</title>
</head>
<body>
<h1>Person: <span th:text="${person.name}"></span> - <span th:text="${person.age}"></span> ADDED!!!</h1>
</body>
</html>